<div class="section-1">
    <div class="section-1-overlay">
        <div class="container mx-auto h-full flex justify-end px-4 section-1-body flex-col">
            <h1 class="text-4xl text-white font-thin mb-2">What Will You Do Today?</h1>
            <p class="text-xl text-white font-thin mb-2">{{dateToday | date}}</p>
        </div>
    </div>
</div>

<div class="section-2 h-auto" *ngIf="task$">
    <div class="task flex justify-center items-center py-2 shadow mb-1" *ngFor="let task of task$">
        <div class="task-check w-1/6 flex justify-center items-center">
            <!-- unchecked -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" *ngIf="task.status=='Pending'" (click)="checkTask(task)">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <!-- checked -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" viewBox="0 0 20 20" fill="currentColor" *ngIf="task.status=='Completed'" (click)="uncheckTask(task)">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
        </div>
        <div class="task-description w-5/6" *ngIf="task.status=='Pending'">
            <h3 class="text-base">{{task.title}}</h3>
            <p class="text-sm">{{task.description}}</p>
        </div>
        <div class="task-description w-5/6" *ngIf="task.status=='Completed'">
            <h3 class="text-base line-through">{{task.title}}</h3>
            <p class="text-sm line-through">{{task.description}}</p>
        </div>
    </div>
</div>
  